<p>
  <strong>Full name:</strong>
  <%= @customer.full_name %>
</p>

<p>
  <strong>NRIC number:</strong>
  <%= @customer.nric_num %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @customer.temperature %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @customer.branch_id %>
</p>